<div class="t"><img src="images/t5.jpg" /></div>
        <div class="map">
        	<img src="images/t6.jpg" />
            <div class="info">
            <ul>
                <li class="li1">Address:Xiaoyun Road, Chaoyang District, Beijing, No. 35 Hospital<br />
                Zip Code:100027<br />
                TEL:86 010-51304295
                </li>
                <li class="li2">Fax:51304295<br />
                Consulting:nufangwb@163.com<br />
                Join us:nufanghr@163.com</li>
            </ul>
            </div>
            <img src="images/map.jpg" width="880" height="500" />
        </div>
